/* ===== Global ===== */
*{
    font-family: 'Chaparral Pro',sans-serif;
    margin: 0px;
    padding: 0px;
}

.active{
    border-bottom: 3px #00BD56 solid;
}

.element-form{
    margin-bottom: 15px;
}

.element-form label{
    display: block;
}

.element-form span{
    display: block;
}

.element-form span input[type=text],input[type="email"], input[type=password], textarea, select{
    width:100%;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}

.element-form span input[type=submit]{
    background: #1A472F;
    border: none;
    color: white;
    padding: 7px 20px;
    margin: 10px 0;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.element-form span input[type=submit]:hover{
    background: #207DFF;
}

.notice-sukses{
    background: #88F2B8;
    color: #1A472F;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

.notice-sukses p{
    flex: 1;
}

.notice-gagal{
    background: salmon;
    color: red;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

.notice-gagal p{
    flex: 1;
}

.box-kategori{
    background: #C4C4C4;
    display: block;
    padding: 15px;
}

.box-kategori a{
    text-decoration: none;
    color: black;
}

.button-hapus{
    background: red;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

.button-readmore{
    text-decoration: none;
    background: #207DFF;
    padding: 7px 10px;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}

.pagination-links{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
    background: #1A472F;
}

.pagination-links:hover{
    background: #207DFF;
}

.active-pagination{
    background: #207DFF;
}

.comment-reply{
    color: #C4C4C4;
    cursor: pointer;
}

.not-found{
    background: lightgreen;
    padding: 30px;
    text-align: center;
}

.not-found h1{
    font-weight: normal;
    text-align: center;
}

.button-kembali{
    display: inline-block;
    text-decoration: none;
    background: #207DFF;
    color: #fff;
    padding: 20px 10px;
    border-radius: 5px;
    margin-top: 30px;
}

.button-kembali:hover{
    background: #00BD56;
}

.button-edit{
    text-decoration: none;
    background: orange;
    padding: 7px 10px;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}

/* ======= Login.php ======= */
.background-login{
    background: #00BD56;
    min-height: 768px;
    position: relative;
}

.container-login{
    position: absolute;
    width: 40%;
    top:20%;
    left: 30%;
}

.header-login{
    position: relative;
    text-align: center;
}

.header-login h1{
    font-weight: normal;
}

.header-login h1 a{
    color: white;
    text-decoration: none;
    font-weight: normal;
}

#frame-login{
    background: #F9FD50;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
}

#frame-login h2{
    font-weight: normal;
    text-align: center;
    font-size: 36px;
}

#frame-login input[type="text"],#frame-login input[type="email"],#frame-login input[type="password"]{
    border: none;
    border-radius: 5px;
}

#frame-login input[type="submit"]{
    background: #207DFF;
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}

#frame-login input[type="submit"]:hover{
    background: #00BD56;
}

/* ======= Index.php ======= */
#header{
    text-align: center;
    background: #00BD56;
    color: #ffffff;
    font-size: 28px;
    padding: 20px;
}

#header a{
    text-decoration: none;
    color: white;
}

#header a h1{
    font-weight: normal;
}

#navbar{
    background:#F9FD50 ;
    text-align: center;
}

#navbar ul{
    padding: 5px;
}

#navbar ul li{
    display: inline;
    margin: 75px;
}

#navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

#navbar ul li a:hover{
    border-bottom: 3px #00BD56 solid;
}

#footer{
    background: #1A472F;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.container{
    max-width: 1024px;
    margin: 10px auto;
}

/* ====== Home ====== */
.frame-home{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}

.frame-home .kiri{
    text-align: justify;
    word-break: break-word;
}

.frame-home .kiri p{
    font-size: 20px;
    text-indent: 50px;
}

.frame-home .kiri h1{
    font-weight: normal;
}

.frame-home .kanan{
    margin-left:20px ;
}

.frame-home .kanan .list-artikel-terbaru{
    list-style: none;
    border-bottom: solid 1px #000000;
    margin-bottom: 10px;
    padding: 10px;
}

.frame-home .kanan .list-artikel-terbaru li:nth-child(2){
    color: gray;
}

.frame-home .kanan .list-artikel-terbaru li:nth-child(3) a{
    text-decoration: none;
    color: #00BD56;
}

.frame-home .kanan .list-artikel-terbaru .list-judul{
    font-weight: bold;
    color: #00BD56;
    font-size: 20px;
    text-decoration: none;
}

.frame-home .kanan .list-artikel-terbaru .list-judul:hover,.frame-home .kanan .list-artikel-terbaru li:nth-child(3) a:hover{
    color: #207DFF;
}

#slider{
    position: relative;
    width: 1024px;
}

#slider img{
    width: 100%;
    height: 400px;
}

#slider button{
    position: absolute;
    padding: 20px;
    top:40%;
    font-size: 20px;
    border: none;
    background: #00BD56;
    cursor: pointer;
}

#slider button:hover{
    background: #207DFF;
}

#slider .next{
    margin-left: 975px;
    border-radius: 15px 0px 0px 15px;
}

#slider .prev{
    border-radius: 0px 15px 15px 0px;
}

#slider p{
    position: absolute;
    top: 90%;
    left: 40%;
}

/* ====== About Us ====== */
.team-profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.team-profile img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    align-self: center;
}

.team-profile label{
    margin-top: 10px;
}

/* ====== Artikel ====== */
.frame-artikel{
    font-size: 20px;
    text-indent: 50px;
    text-align: justify;
}

.header-page{
    background: #88F2B8;
    padding: 20px 10px;
}

.header-page h2{
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 10px;
}

.header-page ul li{
    display: inline-block;
    list-style: none;
    margin-right: 40px;
}

.frame-komentar{
    background:#00BD56;
    padding: 10px;
}

.frame-komentar h2{
    font-size: 36px;
    font-weight: normal;
}

.komentar{
    border-top: 1px solid #ffffff;
    padding: 10px;
    margin: 10px;
}

.komentar label:nth-child(1){
    font-weight: bold;
    font-size: 20px;
}

.komentar label:nth-child(3){
    font-size: 14px;
}

.komentar p{
    font-size: 18px;
    margin-bottom: 10px;
}
/* 
#toggle{
    display: none;
} */

.komentar-balasan{
    border-top: none;
    padding: 0;
    padding-left: 10px;
}

.show-reply{
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin: 20px 0;
}
.reply{
    color: white;
}

.frame-komentar label{
    font-weight: normal;
    font-size: 20px;
}

/* ====== list Artikel ====== */

.box-artikel{
    padding: 10px;
    border-bottom: 1px solid #00BD56;
    margin: 5px;
    word-break: break-word;
}

.box-artikel label:nth-child(1){
    font-size: 30px;
    display: block;
}

.box-artikel label:nth-child(2),.box-artikel label:nth-child(3){
    display: inline;
    margin-right: 5px;
    color: gray;
    font-size: 14px;
}

.link-readmore{
    display: inline-block;
    text-decoration: none;  
    color: #00BD56;
}

.link-readmore:hover{
    color: #207DFF;
}

/* ====== Tulis Artikel ====== */
.header-tulis-artikel{
    font-weight: normal;
    font-size: 36px;
    margin: 20px 0;
}

/* ====== Data Artikel ====== */
.header-data-artikel{
    display: flex;
    margin: 20px 0;
}

.header-data-artikel form{
    flex: 1;
}

.header-data-artikel .box-tambah{
    flex: 2;
}

.header-data-artikel h2{
    flex: 1;
    font-weight: normal;
    font-size: 36px;
    align-self: center;
}

.header-data-artikel form label{
    display: block;
}

.header-data-artikel form span{
    display: flex;
}

.header-data-artikel form span input[type="text"]{
    margin-right: 10px;
    height: 30px;
}

.header-data-artikel form span input[type="submit"]{
    margin: 0px;
    margin-right: 10px;
    height: 30px;
}

.header-data-artikel form span input[type="submit"]:hover{
    background: #207DFF;
}

.form-reply{
    margin-left: 10px;
}

.form-reply .element-form{
    margin: 0px;
}

.form-reply .element-form label{
    font-weight: lighter;
    color: #424140;
}
/* ====== Data Kategori ====== */
.h2-header{
    font-weight: normal;
    font-size: 36px;
}

.table-data{
    border-spacing: 0px;
    width: 100%;
    text-align: center;
}

.table-data tr{
    background: #ECE6E6;
}

.refer-link-green{
    text-decoration: none;
    color: #00BD56;
    font-weight: bold;
}

.refer-link-green:hover{
    color: #207DFF;
}

.table-data tr:nth-child(1){
    background: #88F2B8;
}

.table-data tr td,.table-data tr th{
    padding: 10px 20px;
    font-weight: normal;
}

.box-tambah{
    text-align: right;
    margin: 10px;
    margin-bottom: 20px;
}

.box-tambah a{
    background: #1A472F;
    padding: 10px 7px;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.box-tambah a:hover{
    background: #207DFF;
}

.burger-menu{
    display: none;
    cursor: pointer;
    font-size: 20px;
}

/* Responsive Mobile */

@media screen and (max-width:425px){
    /* index.php */
    .frame-artikel{
        text-indent: 0px;
    }

    .container{
        width: 100% ;
    }

    .active{
        background: #00BD56;
        color: white;
    }
    
    #header{
        width: 100%;
        font-size: 14px;
        padding: 10px;
        display: flex;
    }
    
    #header a:nth-child(1){
        flex: 2;
    }

    #header .burger-menu{
        display: block;
        flex: 1;
        align-self: center;
        justify-self: flex-end;
    }

    #navbar{
        overflow: hidden;
        height: 0;
        text-align: left;
    }

    #navbar.open{
        height:auto;
    }

    #navbar #nav-list{
        margin: 0;
        padding: 0;
    }
    
    #navbar ul li{
        padding: 10px;
        margin: 0;
    }

    #navbar ul li a{
        display:block;
        text-align: center;
        padding: 10px;
    }    

    #footer{
        width: 100%;
    }

    /* Home.php */

    .frame-home{
        grid-template-columns: 1fr;
    }

    .frame-home .kiri p{
        font-size: 18px;
        text-indent: 0;
    }

    #slider{
        display: none;
    }
    
    .frame-home .kanan{
        margin-top: 10px;
        margin-left: 0;
    }
    
    /* kategori.php */
    .header-page{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .container{
        width: 90%;
    }
    
    .grid-mobile{
        grid-template-columns: 1fr;
    }

    #slider{
        width: 691px;
    }
    
    #slider .next{
        margin-left: 640px;
    }
}